

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ilCasa - Administration</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('adminLTE/bootstrap/css/bootstrap.css') }}"  media="screen,projection"/>

    <!-- Font Awesome -->

    <link rel="stylesheet" href="{{ asset('adminLTE/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('adminLTE/ionicons.min.css') }}">
    {#<link rel="stylesheet" href="{{ asset('adminLTE/dist/fontawesome/font-awesome.min.css') }}"  media="screen,projection"/>#}
    {#<link rel="stylesheet" href="{{ asset('adminLTE/fontawesome/ionicons.min.css') }}"  media="screen,projection"/>#}
    <link rel="stylesheet" href="{{ asset('adminLTE/dist/css/AdminLTE.min.css') }}"  media="screen,projection"/>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
            page. However, you can choose any other skin. Make sure you
            apply the skin class to the body tag so the changes take effect.
      -->
    <link rel="stylesheet" href="{{ asset('adminLTE/dist/css/skins/skin-black.min.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] -->
    <script src="{{ asset('adminLTE/plugins/html5shiv/html5shiv.min.js') }}"></script>
    <script src="{{ asset('adminLTE/plugins/respond/respond.min.js') }}"></script>
    <!--[endif]-->
    <style>
    </style>
</head>
<body class="sidebar-mini skin-black  fixed">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header ">
        <!-- Logo -->
        <a href="{{ path('admin_area') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <img src="{{ asset('bundles/core/assets/icons/ilCasaIcon.png') }}"style="margin-top: 15%;" class="img-responsive" >
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>ilCasa</b>.tn</span>
        </a>
        <!-- Header Navbar -->
    {% block header_navbar %}
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="{{ asset('bundles/core/assets/img/user.png') }}" class="img-circle" alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->

                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li><!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks Menu -->
                    <li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- Inner menu: contains the tasks -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <!-- Task title and progress text -->
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <!-- The progress bar -->
                                            <div class="progress xs">
                                                <!-- Change the css width attribute to simulate progress -->
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{ asset('bundles/core/assets/img/user.png') }}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{ asset('bundles/core/assets/img/user.png') }}" class="img-circle" alt="User Image">

                                <p>
                                    {{ app.user.username }}
                                    <small>{{ app.user.email }}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    {% endblock header_navbar %}
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar ">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar ">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('bundles/core/assets/img/user.png') }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="{{ path('admin_area') }}"><i class="fa fa-dashboard"></i> <span>Accueil</span></a></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Manager</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview {% block treeview1 %}{% endblock treeview1 %}">
                            <a href="{{path('cat_Manager') }}" ><i class="fa fa-circle-o"></i> <span>Les catégories</span></a>
                        </li>
                        <li class="treeview {% block treeview11 %}{% endblock treeview11 %}">
                            <a href="{{path('sous_cat_manager') }}" ><i class="fa fa-circle-o"></i> <span>Les Sous catégories</span></a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Utilisateurs</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Listing</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Professionels</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i> Visiteurs</a></li>
                        <li><a href=""><i class="fa fa-circle-o"></i> Blacklistes</a></li>
                    </ul>
                </li>
                <li class=""><a href="#"><i class="fa fa-files-o "></i> <span>Annonces</span></a></li>
                <li class=""><a href="#"><i class="fa fa-area-chart "></i> <span>Statistiques</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-white" style="min-height: 269px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block content_header %}
            <h1>
                {% block page_title %}
                Page Header
                {% endblock page_title %}
                <small>{% block optional_title %}Optional description{% endblock optional_title %}</small>
            </h1>
            <ol class="breadcrumb">
                {% block breadcrumb %}
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
                {% endblock breadcrumb %}
            </ol>
            {% endblock content_header %}
        </section>

        <!-- Main content -->
        <section class="content">
        {% block content %}
            <!-- Your Page Content Here -->
        {% endblock content %}
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Developed&Designed by <a href="https://facebook.com/largat" target="_blank">Largat Seifeddine</a>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">ilCasa</a>.</strong> All rights reserved.
    </footer>
</div>

{% block javascript %}
<script src="{{ asset('adminLTE/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<script src="{{ asset('adminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('adminLTE/dist/js/app.min.js') }}"></script>
<script src="{{ asset('adminLTE/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
{% endblock javascript %}
{% block custom_JS %}{% endblock custom_JS %}

</body>
</html>